.userDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.userBlock{
    width: 100vmax;
}


.flash{
    padding: 1rem; border-radius: .5rem; margin-bottom: .5rem;
}

.flash-success{
    color: forestgreen;
}

.flash-info{
    color: royalblue;
}

.flash-warning{
    color: orangered
}

.flash-error, .flash-danger{
    color: red;
}

.flash-default{
    color: dimgray;
}